/* Light theme modifications */
body {
  background-color: #ecf0f3;
}

.container {
  background-color: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-logo:active {
  box-shadow: inset 7px 7px 10px #cbced1, inset -7px -7px 10px white;
}

.form-group input {
  background: #ecf0f3;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.form-group button {
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}
